<app-navbar-moderator></app-navbar-moderator>

<div class="container">
    <!-- <div class="row card-group"> -->
    <div class="card-body text-center">
        <h4 style="color: rgb(0, 0, 0);">HospitalCore<br> Payment Inquiries</h4>
        <p style="color: blueviolet;">Most recent inqury came from {{lastInquiry.patientName}} on
            {{lastInquiry.inquiryDate.nanoseconds | date:'medium'}}</p> <br>
    </div>
    <div class="list-group">
        <div class="list-group-item" *ngFor="let inqury of inquries" style="background-color:#666292; opacity: 0.7;">
            <div class="row">
                <div class="col-7" style="color: rgb(255, 255, 255);">
                   <h4 style="color:black;">Patient Name: {{inqury?.patientName}}</h4> <br>
                    Reason to Terminate: {{inqury.reason}} <br>
                    <span>Doctor Name: {{inqury.doctorName}}</span><br>
                    <small>Appointment Id: {{inqury?.appointmentID}}</small>
                    <!-- {{inqury.reason}} -->

                </div>
                <div class="col-3" style="color: white;">
                   <h3> Fee : {{inqury.totalFee}}</h3><br>
                    <small>Date: {{inqury.inquiryDate.nanoseconds | date:'medium'}}</small>
                    <!-- <star-rating value={{item.payload.doc.data().averageRating}} checkedcolor="red"
                        uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
                </div>
                <!-- <div class="col-3">
                    <button class="btn btn-primary">Resolve</button>

                </div> -->
                <!-- <div class="col-2"> -->
                    <!-- <button routerLink="/doctor-book/{{ item.payload.doc.id }}" button class="btn btn-primary">Book Now</button> -->
                    <!-- <button routerLink="/doctor-book/{{ item.payload.doc.id }}" (click)="toDoctorDates(item.payload.doc.id)"  class="btn btn-primary">Book Now</button> -->
                    <!-- <button class="btn btn-primary">Book Now</button> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>