<div class="container-fluid">
  <div class="col-lg-12">
    <!-- 1st row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card" id="dark">
          <div class="row">

            <!--First grid - Next consultation-->
            <div class="col-lg-6">
              <div class="card">
                <div class="card shadow">
                  <div class="card" id="light">
                    <h6><b>Next Consultation : in 2 h</b></h6>
                  </div>
                </div>
                <div class="card shadow" id="space">
                  <div class="card" id="light">
                    <h6 style="text-align:left;">
                      <ul>
                        <li>Please Join the waiting room 15 mins before</li>
                        <li>If any report available upload them</li>
                        <li>Ready your device with full charge</li>
                        <li>Make sure you have proper internet connection</li>
                      </ul>
                    </h6>
                    <button class="btn" type="submit" (click)="joinlc()">Join Waiting room</button>
                  </div>
                </div>
              </div>
            </div>
            <!--end of first grid-->

            <!--second grid - more upcomming consultation-->
            <div class="col-lg-6">
              <div class="card shadow">
                <div class="card shadow">
                  <div class="card" id="light">
                    <h6><b>More Upcomming channelings</b></h6>
                  </div>
                </div>
                <div class="card shadow">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="list-group">
                        <div class="list-group-item" *ngFor="let item of result2">
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="card" id="light">
                                <h6>{{item.appointmentDate.toDate()|date:"medium"}}</h6>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="card">
                                <a href="#MoreDialogBox" class="btn" type="button" data-toggle="modal" (click)="moreview(item.appointmentID)">view</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end of third grid-->
          </div>
        </div>
      </div>
      <!--End of Health details-->
    </div>
    <!-- end of 1st row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card shadow" id="dark">
          <div class="card">
            <div class="card" id="light">
              <h2 style="text-align:center;"><b>Channeling Log</b></h2>
            </div>
          </div>
          <div class="card" id="space">
            <div class="row" id="lessmargin">
              <div class="col-lg-12">
                <!--Search bar-->

                <div class="card" id="space">
                  <div class="col-lg-12">
                    <div class="topnav">
                      <div class="search-container">
                        <form action="/action_page.php">
                          <input type="text" placeholder="Search.." name="search">
                          <button type="submit">Search</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--first bar-->
                <div class="card" id="space">
                  <div class="card shadow" id="light">
                    <div class="col-lg-12">
                      <div class="list-group">
                        <div class="list-group-item" *ngFor="let item of result3">
                          <div class="row" id="fixsize">
                            <div class="col-lg-3">
                              <h6><b>{{item?.doctorName}}</b></h6>
                            </div>
                            <div class="col-lg-2">
                              <h6><b>{{item.appointmentDate.toDate()|date:'yyyy-MM-dd'}}</b></h6>
                            </div>
                            <div class="col-lg-2">
                              <h6><b>{{item.appointmentDate.toDate()|date:'hh:mm:ss a'}}</b></h6>
                            </div>
                            <div class="col-lg-2">
                              <h6><b>Rs.{{item.totalFee}}</b></h6>
                            </div>
                            <div class="col-lg-3">
                              <button class="btn" id="more" type="submit" (click)="viewPrescription(item?.prescriptionURL)">Prescription</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Second bar-->

                <!--end of payment bars-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of main box-->

  </div>
</div>

<div class="modal fade" id="MoreDialogBox" tabindex="-1" role="dialog" aria-labelledby="MoreDialogBox"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- --------------- -->
        <div class="card">
          <img class="rounded-circle" src="./assets/img/theme/team-1-800x800.jpg">
          <h5>{{moreView?.doctorName}}</h5>
          <h6>{{moreView?.doctorSpeciality}}</h6>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>Date</b></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>{{moreView?.appointmentDate.toDate()|date:'yyyy-MM-dd'}}</b></h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>Time</b></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>{{moreView?.appointmentTime}}</b></h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>Appoinment no.</b></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>{{moreView?.appointmentNo}}</b></h6>
              </div>
            </div>
          </div>
        </div>
        <!-- -------------------------- -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>