<div class="container-fluid">
    <div class="col-lg-12">
            <!-- 1st row -->
    <div class="row">
        <div class="col-lg-12">
          <div class="card" id="dark">
            <div class="row">
  
              <!--First grid - Next consultation-->
              <div class="col-lg-6">
                  <div class="card">
                    <div class="card shadow">
                      <div class="card" id="light">
                        <h6><b>Next Consultation : in 2 h</b></h6>
                      </div>
                    </div>
                  <div class="card shadow" id="space">
                      <div class="card" id="light">
                        <h6 style="text-align:left;">
                            <ul>
                                <li>Please Join the waiting room 15 mins before</li>
                                <li>If any report available upload them</li>
                                <li>Ready your device with full charge</li>
                                <li>Make sure you have proper internet connection</li>
                            </ul>  
                        </h6>
                        <button class="btn" type="submit" (click)="startCall()">Join Waiting room</button>
                      </div>
                  </div>
                  </div>
              </div>
              <!--end of first grid-->
  
              <!--second grid - more upcomming consultation-->
              <div class="col-lg-6">
                <div class="card shadow">
                  <div class="card shadow">
                    <div class="card" id="light">
                      <h6><b>More Upcomming channelings</b></h6>
                    </div>
                  </div>
                  <div class="card shadow">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-8">
                            <div class="card" id="light">
                              <h6>January 24, 2020</h6>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="card">
                              <button class="btn" type="submit" (click)="startCall()">view</button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-8">
                            <div class="card" id="light">
                              <h6>January 24, 2020</h6>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="card">
                              <button class="btn" type="submit" (click)="startCall()">view</button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-8">
                            <div class="card" id="light">
                              <h6>January 24, 2020</h6>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="card">
                              <button class="btn" type="submit" (click)="startCall()">view</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end of third grid-->
            </div>
          </div>
        </div>
        <!--End of Health details-->
      </div>
      <!-- end of 1st row -->
  
      <div class="row">
        <div class="col-lg-12">
            <div class="card shadow" id="dark">
                <div class="card">
                    <div class="card" id="light">
                        <h2 style="text-align:center;"><b>Channeling Log</b></h2>
                    </div>    
                </div>
                <div class="card" id="space">
                    <div class="row"  id="lessmargin">
                        <div class="col-lg-12">
                            <!--Search bar-->

                            <div class="card" id="space">
                                    <div class="col-lg-12">
                                        <div class="topnav">
                                            <div class="search-container">
                                              <form action="/action_page.php">
                                                <input type="text" placeholder="Search.." name="search">
                                                <button type="submit">Search</button>
                                              </form>
                                            </div>
                                          </div>
                                    </div> 
                            </div>
                            <!--first bar-->
                            <div class="card" id="space">
                                <div class="card shadow" id="light">
                                    <div class="col-lg-12">
                                        <div class="row" id="fixsize">
                                            <div class="col-lg-4">
                                                <h6><b>Dr.Kamal Perera</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                              <h6><b>2020.05.31</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                            <h6><b>21 mins</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                                    <h6><b>Rs.1200.00</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                                <button class="btn" id="more" type="submit" (click)="startCall()">Prescription</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <!--Second bar-->
                            <div class="card" id="space">
                                <div class="card shadow" id="light">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <h6><b>Dr.Kamal Perera</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                              <h6><b>2020.05.31</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                            <h6><b>21 mins</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                                    <h6><b>Rs.1200.00</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                                <button class="btn" id="more" type="submit" (click)="startCall()">Prescription</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <!--Third bar-->
                            <div class="card" id="space">
                                <div class="card shadow" id="light">
                                    <div class="col-lg-12">
                                        <div class="row" id="fixsize">
                                            <div class="col-lg-4">
                                                <h6><b>Dr.Kamal Perera</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                                <h6><b>2020.05.31</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                              <h6><b>21 mins</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                                    <h6><b>Rs.1200.00</b></h6>
                                            </div>
                                            <div class="col-lg-2">
                                                <button class="btn" id="more" type="submit" (click)="startCall()">Prescription</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <!--end of payment bars-->
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of main box-->
  
    </div>
  </div>