<div class="container-fluid">
  <div class="col-lg-12">

    <!-- 1st row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card" id="dark">
          <div class="row">

            <!--First grid - Patient Summary-->
            <div class="col-lg-4">
                <div class="card" id="fixsize">
                  <div class="card shadow">
                    <div class="card" id="light">
                      <h6><b>Patient Summary</b></h6>
                    </div>
                </div>
                <div class="card shadow">
                  <h5><b>Age - 42</b></h5>
                </div>
                <div class="card shadow">
                  <h5><b>Alergies</b></h5>
                  <p>Alergy 1</p>
                  <p>Alergy 2</p>
                </div>
                </div>
            </div>
            <!--end of first grid-->

            <!--Second grid - profile-->
            <div class="col-lg-4">
              <div class="card" id="dark">
                  <img class="rounded-circle" src="./assets/img/theme/team-1-800x800.jpg">
                  <h6><b>Last Active - 20mins ago</b></h6>
                  <div class="card">
                    <h6><b>Ryan Tompson</b></h6>
                  </div>
              </div>
            </div>
            <!--end of second grid-->

            <!--Third grid - latest update-->
            <div class="col-lg-4">
              <div class="card" id="fixsize">
                <div class="card shadow">
                  <div class="card" id="light">
                    <h6><b>Summary</b></h6>
                  </div>
                </div>
                <div class="card shadow">
                <h6>Last Health Data Update</h6>
                <h6 style="color:red;">27.05.2020</h6>
                <h6>Last Report Upolad</h6>
                <h6 style="color:red;">27.05.2020</h6>
                <h6>Last Consultation</h6>
                <h6 style="color:red;">27.05.2020</h6>
                </div>
              </div>
            </div>
            <!--end of third grid-->
          </div>
        </div>
      </div>
      <!--End of Health details-->
    </div>
    <!-- end of 1st row -->

    <!-- 2nd row -->
    <div class="row" id="notfirst">
      <!--Upcomming Consultation-->
      <div class="col-lg-9">
        <div class="card shadow" id="dark">
              <div class="card">
                <div class="card" id="light">
                    <h2 style="text-align:center;"><b>History Records</b></h2>
                  </div>    
              </div>
              <div class="row"  id="lessmargin">
                <!--First grid-->
                <div class="col-lg-6">
                  <div class="card shadow">
                    <div class="card shadow">
                      <div class="card" id="light">
                        <h6><b>Reports</b></h6>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="card" id="light">
                                <h6>January 24, 2020</h6>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="card">
                                <button class="btn" type="submit" (click)="startCall()">view</button>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="card" id="light">
                                <h6>January 24, 2020</h6>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="card">
                                <button class="btn" type="submit" (click)="startCall()">view</button>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="card" id="light">
                                <h6>January 24, 2020</h6>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="card">
                                <button class="btn" type="submit" (click)="startCall()">view</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Second grid-->
                <div class="col-lg-6">
                  <div class="card shadow">
                    <div class="card shadow">
                      <div class="card" id="light">
                        <h6><b>Channeling History</b></h6>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card" id="light">
                        <p><b>Dr.Kamal Perera</b></p>
                        <button class="btn" type="submit" (click)="startCall()">Prescription</button>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card" id="light">
                        <p><b>Dr.Kamal Perera</b></p>
                        <button class="btn" type="submit" (click)="startCall()">Prescription</button>
                      </div>
                    </div>
                  </div>
                </div>
           
              </div>
        </div>
      </div>
      <!--End of upcomming Consultation-->

      <!--Chaneeling History-->
      <div class="col-lg-3">
        <div class="card shadow" id="dark">
              <div class="card shadow">
                  <div class="card" id="light">
                    <h6><b>Health Data</b></h6>
                  </div>
              </div>
              <div class="card shadow" id="space">
                  <div class="card">
                    <h6>Weight</h6>
                    <h6 style="color:blueviolet;"><b>136 cm</b></h6>
                    <h6>Height</h6>
                    <h6 style="color:blueviolet;"><b>45 kg</b></h6>
                    <h5>BMI</h5>
                    <h4 style="color:blue;"><b>18.5</b></h4>
                    <h4 style="color:green;font-family: sans-serif;"><b>NORMAL</b></h4>
                    <!--<h6 style="color:red;">OVER WEIGHT</h6>
                    <h6 style="color:red;">UNDER WEIGHT</h6>-->
                    <h6>Normal BMI Range</h6>
                    <h6>18-22</h6>
                  </div>
              </div>
              
        </div>
      </div> 
      <!--End of Channeling history-->
      
    </div>
    <!-- end of 2nd row -->

  </div>
</div>