<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="hide-on-init welcome" animateOnScroll animationName="animated fadeInLeft">
      <h1 id="welcomeText">Welcome to</h1>
      <h1 id="welcomeText2">HospitalCore</h1>
      <img src="../../assets/img/homepage/headerImage.png" id="headerImg">
      
        </div>
  </div>

  <div class="row" id="aboutUs">
    <h3>About Us</h3>
    <p>HospitalCore is a platform which allows patients to get the consultation services from their doctors through the Internet. Patients can browse through a list of doctors, and they can also go into the profile to get to know more about the particular doctor. Patients can make an appointment for online consultation by filling the relevant details and making the payment using the integrated payment system (PayHere). Patients can upload their medical reports and other details to this platform. The device can update the patient’s profile with their current temperature and pulse rate. Those data and reports will be useful for the doctors to their diagnosis process.</p>
  </div>
  
  
</div>