<!-- <div class="responsive" style="top: 100px;left: 100px;">
        <img src='../../assets/svg/welcome.svg' style="width: 100%; height: auto;">
    </div> -->
    <figure class="img-box" @fade>
        <img src='../../assets/svg/email-p.svg' alt=""
            style="height: 400px;width:100%;background-repeat: no-repeat;background-size: contain;">
    </figure>
    
    <div class="card text-center" style="top: 100px;">
        <div class="card-body">
            <h5 class="card-title">Confirm your email</h5>
            <p class="card-text">Confirm your email</p>
            <a class="btn btn-primary" (click)="sendEmail()">Send Email</a>
        </div>
    </div>