body{

  background-image: url("src/assets/img/theme/Capture.PNG");
  width: 750px;
  height: 350px; 
  margin-top: 20px;


}

.container-fluid{
  background-color: #E3F2FD;
  width: 102%;
  margin-top: -2%;
  height: max-content;
  margin-left: -3%;
}

.row{
  padding: 1.5%;
  align-content: center;
  min-height: max-content;
}
.mainRow{
  margin-top:30px;
}/*block 2*/

.card{
  padding: 2%;
  text-align: center;
  align-content: center;
  font-size: xx-large;
}
#dark.card{
  background-color: #2196F3;

}
#light.card{
  background-color: #90CAF9;
}
#differ.card{
  margin: 20px;
}
#space.card{
  margin-top: 10px;
}
.rounded-circle{
  width: 120px;
  align-self: center;
}

ejs-calendar{
  z-index: 3; 
  max-width: fit-content;
  min-width: fit-content;
}
@media screen and (max-width: 500px){
  .container-fluid{   
    width: 105%; 
    margin-left: -6%;
    margin-top: -6%; 
    padding-left: 0%;  
    padding-right: 0%;
  }
  .row{
    padding: 5%;
  }
  .card{
    margin-top: 10px;
  }
}
