<div class="container-fluid">
  <div class="col-lg-12">
    <!-- 1st row -->
    <div class="row">
      <div class="col-lg-8">
        <div class="card" id="light">
          <h3>Hello Dr. {{ result2.name }}</h3>
        </div>

        <div class="row" style="margin-top: 20px">
          <div class="col-lg-6">
            <div class="card shadow" id="dark">
              <div class="card" id="light">
                <div id="pie" #pieChart></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card shadow" id="dark"></div>
          </div>
        </div>

        <div class="card shadow" id="dark" style="margin-top: 20px">
          <div class="card-body">
            <div class="card" id="light" style="height: 45px">
              <h6><b>Daily Income</b></h6>
            </div>
            <div class="card" id="space" style="height: 255px">
              <div id="linechart" #linechart></div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Health details-->

      <!--Calander-->
      <div class="col-lg-4">
        <div class="card shadow" id="dark">
          <div class="card" id="light">
            <h6><b>Calender</b></h6>
          </div>
          <div class="card" id="space">
            <ejs-calendar
              id="calendar"
              [values]="value"
              [isMultiSelection]="multiselect"
            ></ejs-calendar>
          </div>
        </div>

        <div class="card shadow" id="dark" style="margin-top: 20px">
          <div class="card shadow" id="space">
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Total Patients
                </h5>
                <span class="h2 font-weight-bold mb-0">{{ patients }}</span>
              </div>
            </div>
          </div>

          <div class="card shadow" id="space">
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Total Channelings
                </h5>
                <span class="h2 font-weight-bold mb-0">{{ channellings }}</span>
              </div>
            </div>
          </div>

          <div class="card shadow" id="space">
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Channeling Fee
                </h5>
                <span class="h2 font-weight-bold mb-0">{{
                  result2.doctorFee
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
