<!-- Alert -->
<!-- <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="emailverify" style="margin-top: 10px;">
    <strong>Succsess!</strong> Your email succsessfuly verified!Thanks for your corporation😘
    <a type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </a>
</div> -->

<div class="alert alert-success alert-dismissible fade show"
    style="position:fixed;top:0;width:100%;z-index:100;text-align: center;" role="alert" *ngIf="emailverify">
    <strong>Success!</strong> Your email succsessfuly verified! Thanks for your corporation
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show"
    style="position:fixed;top:0;width:100%;z-index:100;text-align: center;" role="alert" *ngIf="!isPhoneverified">
    <strong>Error!</strong> Invalid code!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <div *ngIf="isPhoneverified">

</div> -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">SUBMIT OTP</h5>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <!-- <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Enter your one time password:</label>
                        <input type="text" class="form-control">
                    </div>
                </form> -->
                <form [formGroup]="codeSubmission_form">
                    <label for="recipient-name" class="col-form-label">Enter your one time password2:</label>
                    <!-- <div *ngIf="isPhoneverified" class="alert alert-danger" role="alert">
                        Invalid code!
                    </div> -->
                    <input class="form-control" type="number" placeholder="" formControlName="code">
                </form>
            </div>
            <div class="modal-footer" data-backdrop="false">
                <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                <button *ngIf="data.role=='doctor'" type="button" class="btn btn-primary" (click)="[phoneVerify()]"
                    data-dismiss="modal">Submit</button>
                <button *ngIf="data.role=='patient'" type="button" class="btn btn-primary" (click)="[phoneVerify()]"
                    data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success alert-dismissible fade show"
    style="position:fixed;top:0;width:100%;z-index:100;text-align: center;" role="alert" *ngIf="phoneVerified && isPhoneverified">
    <strong>Success!</strong> OTP sent to your phone number
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <h2 *ngIf="!touched && emailverify" align=center><span class="badge badge-pill badge-success"
                                style="margin-left: 200px;">Step 3
                                of 3</span></h2>
                    </div>
                    <div class="row">

                        <div class="col-md-9 col-lg-8 mx-auto">
                            <!-- Welcome <div> -->
                            <!-- <h2 align = center ><span
                                        class="badge badge-pill badge-success">Step 2 of 3</span></h2> -->
                            <div>
                                <div style="position:absalute;height: 10px;">
                                    <div>

                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Base image -->
                            <!-- <figure class="img-box">
                                <img src="../../assets/svg/1.svg" alt=""
                                    style="height: 400px;width:100%;background-repeat: no-repeat;background-size: contain;">
                            </figure> -->

                            <!-- Send phone verification card -->
                            <div *ngIf="!touched && emailverify" align=center>
                                <div>
                                    <h4 style="color: rgb(149, 41, 212);"><span
                                            class="badge badge-pill badge-primary">Phone number verification</span></h4>
                                    <br>
                                    <p>With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <button (click)="[_touched(),phoneOtp()]" type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#buffer">Send SMS</button>
                                </div>
                            </div>
                            <div *ngIf="!emailverify" align=center>
                                <img src="../../assets/svg/Spinner-1s-200px.svg" alt="">
                            </div>

                            <!-- When send -->
                            <div *ngIf="touched">
                                <!-- <img class="card-img-top" src="../../assets/svg/message.svg" alt="Card image cap" style="  display: block;
                                    margin-left: auto;
                                    margin-right: auto;
                                    width: 10%;"> -->
                                <div>
                                    <h5>Message Sent!</h5>
                                    <p>Check your phone and add opt</p>
                                    <button *ngIf="touched" type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModal" data-whatever="@mdo">ENTER OTP</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a> -->
    <button *ngIf="data.role=='doctor'" type="button" class="btn btn-primary"
        (click)="[test(verificationCode)]">Submit</button>
    <!-- <button *ngIf="data.role=='patient'" type="button" class="btn btn-primary" (click)="[phoneVerify()]"
        data-dismiss="modal" [routerLink]="['/patients/dashboard']">Submit</button> -->
</div>