
<app-navbar></app-navbar>
<div class="section">
<div class="container">
  
  <div class="row">
    <div class="col-4">
      <h1>Doctors List</h1>
    </div>
    <div class="col-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </button>
        <div class="dropdown-menu" aria-labelledby="Sort_By">
          <a class="dropdown-item" href="doctors-list">Ratings</a>
          <a class="dropdown-item" href="doctors-list">Accending</a>
          <a class="dropdown-item" href="doctors-list">Decending</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Specialized in
        </button>
        <div class="dropdown-menu" aria-labelledby="Specialized_in">
          <a class="dropdown-item" href="doctors-list"> aaaaa</a>
          <a class="dropdown-item" href="doctors-list"> aaaaa</a>
         
        </div>
      </div>
    </div>

</div>
  <div class="list-group">
    <div class="list-group-item" *ngFor="let item of items">
      <div class="row">
        <div class="col-7">
          {{item.payload.doc.data().name}} <br>
         {{item.payload.doc.data().email}}

        </div>
        <div class="col-2">
          Ratings : {{item.payload.doc.data().averageRating}}<br>
          <star-rating value= {{item.payload.doc.data().averageRating}} checkedcolor="red" uncheckedcolor="black" size="24px"    readonly="false" (rate)="onRate($event)"></star-rating>
        </div>
        <div class="col-1">
          <button routerLink="/doctor-book/{{ item.payload.doc.id }}" button class="btn btn-primary">View</button>
         
        </div>
        <div class="col-2">
          <button routerLink="/doctor-book/{{ item.payload.doc.id }}" button class="btn btn-primary">Book Now</button>
         
        </div>
      </div>
    </div>
  </div>
</div>
</div>