<div class="container-fluid">
    <div class="col-lg-12">

        <!-- 1st row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="dark">
                    <div class="card">
                        <div class="row">

                            <!--First grid - Patient Summary-->
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="rounded-circle" [src]=result.proPicURL>
                                    <a href="#changePic" class="btnedit" type="button" data-toggle="modal"><span class="btn-inner--icon">
                                        <i class="fa fa-edit mr-2"></i></span></a>
                                    <hr>
                                    <h5><b>{{result.name}}</b></h5>
                                    <h6>Age : {{age}} years</h6>
                                </div>
                            </div>
                            <!--end of first grid-->
                            <!--Third grid - latest update-->
                            <div class="col-lg-8">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card" id="light">
                                                <h6><b>Address</b></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card" id="light">
                                                <h6><b>{{result.address}}</b></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card" id="light">
                                                <h6><b>NIC Number</b></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card" id="light">
                                                <h6><b>{{result.nic}}</b></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card" id="light">
                                                <h6><b>Contact Nunmber</b></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card" id="light">
                                                <h6><b>{{result.telno}}</b></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card" id="light">
                                                <h6><b>Email</b></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card" id="light">
                                                <h6><b>{{result.email}}</b></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card" id="light">
                                                <h6><b>Birthday</b></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card" id="light">
                                                <h6><b>{{result.dob}}</b></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card" id="light">
                                                <h6><b>Blood Group</b></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card" id="light">
                                                <h6><b>{{result.bloodGroup}}</b></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of third grid-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Health details-->
        </div>
        <!-- end of 1st row -->
        <!--Height weight-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="dark">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card" id="center">
                                <h6><b>Height : {{result.height}} cm</b></h6>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" id="center">
                                <h6><b>Weight : {{result.weight}} kg</b></h6>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" id="green">
                                <h6><b>{{result.dietaryRestrictions}}</b></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Long trem diseaces-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="dark">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card shadow">
                                <div class="card" id="center">
                                    <h6><b>Long Term Diceases</b></h6>
                                </div>
                                <div class="card">
                                    <h6 style="text-align: left;">
                                        <ul>
                                            <li *ngFor="let long of lgdis">{{long}}</li>
                                        </ul>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card shadow">
                                <div class="card" id="center">
                                    <h6><b>Alergies</b></h6>
                                </div>
                                <div class="card">
                                    <h6 style="text-align: left;">
                                        <ul>
                                            <li *ngFor="let alergy of alergies">{{alergy}}</li>
                                        </ul>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--operations-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="dark">
                    <div class="card shadow">
                        <div class="card" id="center">
                            <h6><b>Operations</b></h6>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item" *ngFor="let operation of operations">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="card" id="center">
                                            <h6><b>{{operation.operationName}}</b></h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card" id="center">
                                            <h6><b>{{operation.operationDate}}</b></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn" type="submit" (click)="edit()">
                    <span class="btn-inner--icon">
                        <i class="fa fa-edit mr-2"></i>
                    </span>Edit Profile
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changePic" tabindex="-1" role="dialog" aria-labelledby="UploadDialogBox"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Title">Upload Your Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- --------------- -->
          <progress max="100" [value]="(uploadProgress | async)"></progress>
          <form action="/action_page.php">
            <input type="file" id="myFile" name="filename" (change)="detectFiles($event)"
              accept=".png,.jpg,.jpeg" />
          </form>
          <!-- -------------------------- -->
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <button type="submit" class="btn" data-dismiss="modal"
          (click)="upload()">Submit</button>
      </div>
    </div>
  </div>
</div>