<div class="container-fluid">
    
    <!--header topic-->
    <div class="row">
        <div class="col-12">
            <div class="card shadow" id="dark">
                <h2>Edit Your Profile</h2>
            </div>
        </div>
    </div>
    <!--Form Begins-->
    <form [formGroup]="UpdateProfileForm" novalidate>
        <!--Feedback Handling-->
        <div *ngIf="submitError" class="alert alert-danger">
            Update Failed! Please check whether you have filled all the required fields and try again!
        </div>

        <div *ngIf="submitSuccess" class="alert alert-success">
            Succesfully Updated!
        </div>
        <!--edit Values-->
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <label for="coption"><b>Name</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="coption"><b>Address</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="address" required>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="coption"><b>NIC number</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="nic" required>
                </div>
                <div class="col-4">
                    <label for="coption" id="avgTime"><b>Contact Number</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="contact" required>
                </div>
                <div class="col-4">
                    <label for="coption" id="avgTime"><b>Email</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="email" required>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="coption"><b>height</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="height" required>
                </div>
                <div class="col-4">
                    <label for="coption" id="avgTime"><b>weight</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="weight" required>
                </div>
                <div class="col-4">
                    <label for="coption" id="avgTime"><b>Food Preferance</b></label>
                    <select class="form-control" formControlName="food">
                        <option *ngFor="let food of foods">{{food}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="coption"><b>Add Long Term deseases or Alergies</b></label>
                    <button class="btn" type="button" (click)="add1()">
                        <span class="btn-inner--icon">
                            <i class="fa fa-plus mr-2"></i>
                        </span>Add
                    </button>
                </div>
                <div class="col-6">
                    <label for="coption" id="avgTime"><b>Add Operations</b></label>
                    <button class="btn" type="button" (click)="add2()">
                        <span class="btn-inner--icon">
                            <i class="fa fa-plus mr-2"></i>
                        </span>Add
                    </button>
                </div>
            </div>
            <div class="row" *ngIf="viewcol1">
                <div class="col-6">
                    <label for="coption"><b>Long Term deseases</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="long" required>
                </div>
                <div class="col-6">
                    <label for="coption" id="avgTime"><b>Alergies</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="alergy" required>
                </div>
            </div>
            <div class="row" *ngIf="viewcol2">
                <div class="col-8">
                    <label for="coption"><b>Name of the operation</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="long" required>
                </div>
                <div class="col-4">
                    <label for="coption" id="avgTime"><b>year</b></label>
                    <input class="form-control" type="text" placeholder="" formControlName="alergy" required>
                </div>
            </div>
            <!--submit button-->
            <div class="row">
                <div class="col-12">
                    <button class="btn" type="submit" (click)="updateProfilePatient()">Update</button>
                </div>
            </div>
        </div>
    </form>



</div>