.row{
    padding: 1.5%;
    align-content: center;
    min-height: max-content;
}
.card{
    background-color: rgb(219, 186, 203);
    padding: 5px;
    margin-top: 5px;
}
#dark.card{
    background-color: rgb(165, 74, 218);
    text-align: center;
}
.btn{
    height: 38px;
    background-color: #820fd4;
    color: aliceblue;
    width: fit-content;
    align-self: center;
    padding: 0%;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
  }