<app-navbar></app-navbar>
<div class="body">
<div class="section">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <!-- <img src="../../assets/img/background/doctor_booking_bg.jpg"> -->
        <h3>Dear, {{results.name}}</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you </p> <br/>
        <p>Your payment was successful</p>
        <a href="homepage" class="btn btn-outline-success">Home</a>
    <br><br>
        </div>
        
	</div>
</div>
</div>
