<app-navbar-moderator></app-navbar-moderator>
<div class="container">
  <!-- <div #chart>

  </div> -->

  <!-- <select data-placeholder="All Categories" class="category" value="category.categoryName" [(ngModel)]="selected"
    (change)="buildServices($event)">
    <option selected="selected" style="display:none">Select Category</option>
    <option class="select" *ngFor="let category of categories" [value]="category.categoryId">
      {{category.categoryName}}
    </option>
  </select>
  <select data-placeholder="All Cities" class="services location" value="category.categoryName">
    <option selected="selected" style="display:none">select type of services</option>
    <option *ngFor="let service of services; let i =
          index" value="service.serviceId">{{service.serviceName}}
    </option>
  </select> -->
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-sm-3 col-md-2 sidebar collapse" id="sidebar">
        <div class="list-group">
          <a href="#" class="list-group-item active"><span class="fa fa-fw fa-dashboard"></span> Dashboard</a>
          <a href="#" class="list-group-item"><span class="fa fa-fw fa-dashboard"></span> Products <span
              class="badge badge-dark badge-pill pull-right">14</span></a>
          <a href="#" class="list-group-item"><span class="fa fa-fw fa-dashboard"></span> Categories <span
              class="badge badge-dark badge-pill pull-right">14</span></a>
          <a href="#" class="list-group-item collapsed" data-target="#submenu1" data-toggle="collapse"
            data-parent="#sidebar"><span class="fa fa-fw fa-dashboard"></span> Categories<span
              class="caret arrow"></span></a>
          <div class="list-group collapse" id="submenu1">
            <a href="#" class="list-group-item">Category</a>
            <a href="#" class="list-group-item">Category</a>
          </div>
          <a href="#" class="list-group-item"><span class="fa fa-fw fa-dashboard"></span> Users <span
              class="badge badge-dark badge-pill pull-right">14</span></a>
          <a href="#" class="list-group-item"><span class="fa fa-fw fa-dashboard"></span> Orders <span
              class="badge badge-dark badge-pill pull-right">14</span></a>
        </div>
      </div> -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header" style="text-align: center;">Dashboard</h1><br><br>

        <section class="row text-center placeholders">
          <div class="col-6 col-sm-3">
            <div class="panel panel-info">
              <div class="panel-heading">Total Users</div>
              <div class="panel-body">
                <h4>{{usersData.length}}</h4>
                <!-- <p>Data</p> -->
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-3">
            <div class="panel panel-success">
              <div class="panel-heading">Header</div>
              <div class="panel-body">
                <h4>123</h4>
                <p>Data</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-3">
            <div class="panel panel-warning">
              <div class="panel-heading">Header</div>
              <div class="panel-body">
                <h4>123</h4>
                <p>Data</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-3">
            <div class="panel panel-danger">
              <div class="panel-heading">Header</div>
              <div class="panel-body">
                <h4>123</h4>
                <p>Data</p>
              </div>
            </div>
          </div>
        </section>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
        </div>


        <h1 class="sub-header">
          <div class="btn-group pull-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Print</button>
            <button type="button" class="btn btn-primary">Export</button>
          </div>
          Table
        </h1>
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td style="width: 100px">
                  <a href="#" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top"
                    title="Tooltip on top">
                    <span class="fa fa-pencil"></span>
                  </a>
                  <a href="#" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top"
                    title="Tooltip on top" onclick="return confirm('Are you sure?')">
                    <span class="fa fa-trash"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <h1 class="sub-header">Form</h1>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>


      </div>
    </div>
  </div>
</div>