<app-navbar-moderator></app-navbar-moderator>
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header" style="text-align: center;">Dashboard</h1><br><br>



        <div id='myDiv'>
        </div><br>
        <div id='myDiv_pie' align="center">
        </div>



        <!-- <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>speciality</th>
                <th>Telephone</th>
                <th>email</th>
                <th>Report</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of unregisteredDoctors">
                <td>{{item.name}}</td>
                <td>{{item.speciality}}</td>
                <td>{{item.telno}}</td>
                <td>{{item.email}}</td>
                <td><link rel="stylesheet" target href="{{item.report_url}}"></td>
                <td style="width: 100px">
                  <a href="#" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top"
                    title="Tooltip on top">
                    <span class="fa fa-pencil"></span>
                  </a>
                  <a href="#" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top"
                    title="Tooltip on top" onclick="return confirm('Are you sure?')">
                    <span class="fa fa-trash"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
        <h3 class="page-header" style="text-align: center;">Address verification Pending doctors</h3><br>
        <div class="list-group">
          <div class="list-group-item" *ngFor="let doctor of unregisteredDoctors" style="background-color:#666292; opacity: 0.7;">
              <div class="row">
                  <div class="col-7" style="color: rgb(255, 255, 255);">
                     <h4 style="color: rgb(0, 0, 0);">Name: {{doctor.name}}</h4>
                      Email: {{doctor.email}} <br>
                      <span>Doctor speciality: {{doctor.speciality}}</span><br>
                      <small>Telephone No: {{doctor.telno}}</small>
                      <!-- {{inqury.reason}} -->
  
                  </div>
                  <div class="col-1" style="right: 1px;">
                      <a class="btn btn-light btn-sm" href="{{doctor.report_url}}" target=”_blank” >View Report</a>
  
                  </div>
                  <!-- <div class="col-2"> -->
                      <!-- <button routerLink="/doctor-book/{{ item.payload.doc.id }}" button class="btn btn-primary">Book Now</button> -->
                      <!-- <button routerLink="/doctor-book/{{ item.payload.doc.id }}" (click)="toDoctorDates(item.payload.doc.id)"  class="btn btn-primary">Book Now</button> -->
                      <!-- <button class="btn btn-primary">Book Now</button> -->
                  <!-- </div> -->
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>