<app-navbar></app-navbar>

<div class="section">

    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br>
            <h2 style="color:#a00707">Failed</h2>
            <h3>Dear, {{results.name}}</h3>
            <p style="font-size:20px;color:#5C5C5C;">Sorry </p> <br />
            <p>Your payment was failed</p>
            <a href="homepage" class="btn btn-outline-success">Home</a>
            <br><br>
        </div>
        <div class="col-6">
            <img src='../../assets/img/payment/Transaction-Failed.png' alt="failed" ></div>
    </div>
</div>