<!--Upper block-->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card shadow" id="dark">
        <div class="card-body py-20">
          <div class="col-lg-12 text-center">
            <div class="card shadow" id="topic">
              <div class="card-body py-1">
                <span>Payment Summary</span>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="card shadow" id="light" style="margin-top: 20px">
              <div class="card-body py-1">
                <span>Payment recieved(Current month): Rs.1000</span>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="card shadow" id="light" style="margin-top: 5px">
              <div class="card-body py-1">
                <span>Payment recieved(Previous month): Rs.00</span>
              </div>
            </div>          </div>

          <div class="col-lg-12">
            <div class="card shadow" id="light" style="margin-top: 5px">
              <div class="card-body py-1">
                <span>Annual income: Rs.1000</span>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="card shadow" id="light" style="margin-top: 5px">
              <div class="pt-0">
                <div class="card-body py-1">
                  <span>Average income per month : Rs.1000</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end of Upper block-->

  <!--second block-->

  <div class="col-lg-12" style="margin-top: 30px">
    <div class="card shadow" id="dark">
      <div class="card-body py-20">
        <div class="card shadow" id="topic">
          <div class="card-body py-1">
            <span class="d-block mb-1">Payments Log</span>
          </div>
        </div>

        <div class="card shadow" id="light">
          <div class="card-body py-20">
            <div class="card shadow" id="space">
              <div class="card-body">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a
                      class="nav-item nav-link active"
                      id="nav-upcoming-tab"
                      data-toggle="tab"
                      href="#nav-upcoming"
                      role="tab"
                      aria-controls="nav-upcoming"
                      aria-selected="true"
                      >Upcoming Channelings</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="nav-previous-tab"
                      data-toggle="tab"
                      href="#nav-previous"
                      role="tab"
                      aria-controls="nav-previous"
                      aria-selected="false"
                      >Previous Channelings</a
                    >
                  </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="nav-upcoming"
                    role="tabpanel"
                    aria-labelledby="nav-upcoming-tab"
                  >

                  <div class="col-lg-12">
                    <div class="list-group">
                      <div class="list-group-item" *ngFor="let item of app" >
                        <div *ngIf="item.status == 'Active'">
                        <div class="row" id="fixsize">
                          <div class="col-lg-3">
                            <h6><b>{{item.patientName}}</b></h6>
                          </div>
                          <div class="col-lg-3">
                            <h6><b>{{
                              item.appointmentDate.toDate()
                                | date: "yyyy/MM/dd h:mm:ss a"
                            }}</b></h6>
                          </div>
                          <div class="col-lg-3">
                            <h5><b> Rs. {{item.totalFee}}</b></h5>
                          </div>
                          <div class="col-lg-3">
                            <button
                                    class="btn btn-lg btn-outline-primary"
                                    (click)="open(content)"
                                  >
                                    View Details
                                  </button>
                          </div>
                          
                          <ng-template #content let-modal>
                            <div class="modal-header">
                              <h4
                                class="modal-title"
                                id="modal-basic-title"
                              >
                                More Details
                              </h4>
                              <button
                                type="button"
                                class="close"
                                aria-label="Close"
                                (click)="modal.dismiss('Cross click')"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h6>
                                Patient Name: {{ item.patientName }}
                              </h6>
                              <h6>
                                Appointment Date:
                                {{
                                  item.appointmentDate.toDate()
                                    | date: "yyyy/MM/dd h:mm:ss a"
                                }}
                              </h6>
                              <h6>
                                Appointment Number:
                                {{ item.appointmentNo }}
                              </h6>
                              <h6>
                                Availability Status:
                                {{ item.availabilityStatus }}
                              </h6>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                    <!-- <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                        <tbody>
                          <div *ngFor="let item of app">
                            <div *ngIf="item.status === 'Active'">
                              <tr>
                                <td>
                                  <span class="mb-0 text-sm"
                                    >Appoinment with patient :
                                    {{ item.patientName }}</span
                                  >
                                </td>
                                <td>
                                  <span class="mb-0 text-sm">
                                    {{
                                      item.appointmentDate.toDate()
                                        | date: "yyyy/MM/dd h:mm:ss a"
                                    }}</span
                                  >
                                </td>
                                <td>
                                  <button type="button" class="btn btn-success">
                                    Total Fee<br />{{ item.totalFee }}
                                  </button>
                                </td>
                                <td>
                                  <button
                                    type="button"
                                    class="btn btn-primary"
                                    style="background-color: #2364ce"
                                  >
                                    View Details
                                  </button>
                                </td>
                              </tr>
                            </div>
                          </div>
                        </tbody>
                      </table>
                    </div> -->
                  </div>

                  <div
                    class="tab-pane fade"
                    id="nav-previous"
                    role="tabpanel"
                    aria-labelledby="nav-previous-tab"
                  >

                  <div class="col-lg-12">
                    <div class="list-group">
                      <div class="list-group-item" *ngFor="let item of app" >
                        <div *ngIf="item.status == 'Success'">
                        <div class="row" id="fixsize">
                          <div class="col-lg-3">
                            <h6><b>{{item.patientName}}</b></h6>
                          </div>
                          <div class="col-lg-3">
                            <h6><b>{{
                              item.appointmentDate.toDate()
                                | date: "yyyy/MM/dd h:mm:ss a"
                            }}</b></h6>
                          </div>
                          <div class="col-lg-3">
                            <h5><b> Rs. {{item.totalFee}}</b></h5>
                          </div>
                          <div class="col-lg-3">
                            <button
                                    class="btn btn-lg btn-outline-primary"
                                    (click)="open(content)"
                                  >
                                    View Details
                                  </button>
                          </div>
                          
                          <ng-template #content let-modal>
                            <div class="modal-header">
                              <h4
                                class="modal-title"
                                id="modal-basic-title"
                              >
                                More Details
                              </h4>
                              <button
                                type="button"
                                class="close"
                                aria-label="Close"
                                (click)="modal.dismiss('Cross click')"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h6>
                                Patient Name: {{ item.patientName }}
                              </h6>
                              <h6>
                                Appointment Date:
                                {{
                                  item.appointmentDate.toDate()
                                    | date: "yyyy/MM/dd h:mm:ss a"
                                }}
                              </h6>
                              <h6>
                                Appointment Number:
                                {{ item.appointmentNo }}
                              </h6>
                              <h6>
                                Availability Status:
                                {{ item.availabilityStatus }}
                              </h6>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>

                    <!-- <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                        <tbody>
                          <div *ngFor="let item of app">
                            <div *ngIf="item.status === 'Success'">
                              <tr>
                                <td>
                                  <span class="mb-0 text-sm"
                                    >Appoinment with user :
                                    {{ item.patientName }}</span
                                  >
                                </td>
                                <td>
                                  <span class="mb-0 text-sm">
                                    {{
                                      item.appointmentDate.toDate()
                                        | date: "yyyy/MM/dd h:mm:ss a"
                                    }}</span
                                  >
                                </td>
                                <td>
                                  <button type="button" class="btn btn-success">
                                    Total Fee<br />{{ item.totalFee }}
                                  </button>
                                </td>
                                <td>
                                  <button
                                    type="button"
                                    class="btn btn-primary"
                                    style="background-color: #2364ce"
                                  >
                                    View Details
                                  </button>
                                </td>
                              </tr>
                            </div>
                          </div>
                        </tbody>
                      </table>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
