<app-navbar></app-navbar>
<div class="section">
  <div class="row">
    <h2>Dr {{ data.name }}</h2>
  </div>

  <!-- Start bookings list -->
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Wednesday</h5>
          <h6 class="card-subtitle mb-2 text-muted">2020.7.8</h6>
          <p class="card-text">
            7.00 pm - 9.00 pm <br />
            Specialized in :{{ data.speciality }} <br />
            Description : MBBS qulified in University of Colombo 2002<br />
            Total channel count :{{ data.numberOfAppointments }}
          </p>
          <a href="#RegistrationDialogBox" class="card-link" data-toggle="modal"
            >Book Now</a
          >
          <a href="doctors-list" class="card-link">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End booking list -->

</div>

<!-- Modal -->
<div
  class="modal fade"
  id="RegistrationDialogBox"
  tabindex="-1"
  role="dialog"
  aria-labelledby="RegistrationDialogBox"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Title">Appoinment Registration Form</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- --------------- -->
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="PatientName">Patient</label>
              <input
                type="text"
                class="form-control"
                id="PatientName"
                placeholder="Ransaka Ravihara"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="DoctorName">Doctor</label>
              <input
                type="text"
                class="form-control"
                id="DoctorName"
                placeholder="{{ data.name }}"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="AppoinmentDate">Appoinment Date</label>
              <input
                type="text"
                class="form-control"
                id="AppoinmentDate"
                placeholder="2020.7.10"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="EstimatedTime">Estimated Time</label>
              <input
                type="text"
                class="form-control"
                id="EstimatedTime"
                placeholder="7.50 am"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="AppoinmnetID">Appoinment ID</label>
              <input
                type="text"
                class="form-control"
                id="AppoinmnetID"
                placeholder="AP00058"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="TotalAmount">Total Amount Rs</label>
              <input
                type="text"
                class="form-control"
                id="TotalAmount"
                placeholder="1600"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="ChannelNo">Channel No</label>
              <input
                type="text"
                class="form-control"
                id="ChannelNo"
                placeholder="06"
              />
            </div>
          </div>
        </form>

        <!-- -------------------------- -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <a href="#" type="button" class="btn btn-primary">Pay Now</a>
      </div>
    </div>
  </div>
</div>
