<div class="container-fluid">
    <div class="col-lg-12">
       <!--Main Box-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow" id="dark">
                    <div class="card">
                        <div class="card" id="light">
                            <h2 style="text-align:center;"><b>Channeling Log</b></h2>
                        </div>    
                    </div>
                    <div class="card" id="space">
                        <div class="row"  id="lessmargin">
                            <div class="col-lg-12">
                                <!--Search bar-->

                                <div class="card" id="space">
                                        <div class="col-lg-12">
                                            <div class="topnav">
                                                <div class="search-container">
                                                  <form action="/action_page.php">
                                                    <input type="text" placeholder="Search.." name="search">
                                                    <button type="submit">Search</button>
                                                  </form>
                                                </div>
                                              </div>
                                        </div> 
                                </div>
                                <!--first bar-->
                                <div class="card" id="space">
                                    <div class="card shadow" id="light">
                                        <div class="col-lg-12">
                                            <div class="row" id="fixsize">
                                                <div class="col-lg-4">
                                                    <h6><b>Dr.Kamal Perera</b></h6>
                                                </div>
                                                <div class="col-lg-2">
                                                    <h6><b>2 Days ago</b></h6>
                                                </div>
                                                <div class="col-lg-2">
                                                        <h6><b>Rs.1200.00</b></h6>
                                                </div>
                                                <div class="col-lg-2">
                                                    <button class="btn" type="submit" (click)="startCall()">view Recipt</button>
                                                </div>
                                                <div class="col-lg-2">
                                                    <button class="btn" type="submit" (click)="startCall()">Inquiry</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                                <!--Second bar-->
                                <div class="card" id="space">
                                    <div class="card shadow" id="light">
                                        <div class="col-lg-12">
                                            <div class="row" id="fixsize">
                                                <div class="col-lg-4">
                                                    <h6><b>Dr.Kamal Perera</b></h6>
                                                </div>
                                                <div class="col-lg-2">
                                                    <h6><b>2 Days ago</b></h6>
                                                </div>
                                                <div class="col-lg-2">
                                                        <h6><b>Rs.1200.00</b></h6>
                                                </div>
                                                <div class="col-lg-2">
                                                    <button class="btn" type="submit" (click)="startCall()">view Recipt</button>
                                                </div>
                                                <div class="col-lg-2">
                                                    <button class="btn" type="submit" (click)="startCall()">Inquiry</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                                <!--Third bar-->
                                <div class="card" id="space">
                                    <div class="card shadow" id="light">
                                        <div class="col-lg-12">
                                            <div class="row" id="fixsize">
                                                <div class="col-lg-4">
                                                    <h6><b>Dr.Kamal Perera</b></h6>
                                                </div>
                                                <div class="col-lg-2">
                                                    <h6><b>2 Days ago</b></h6>
                                                </div>
                                                <div class="col-lg-2">
                                                        <h6><b>Rs.1200.00</b></h6>
                                                </div>
                                                <div class="col-lg-2">
                                                    <button class="btn" type="submit" (click)="startCall()">view Recipt</button>
                                                </div>
                                                <div class="col-lg-2">
                                                    <button class="btn" type="submit" (click)="startCall()">Inquiry</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                                <!--end of payment bars-->
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of main box-->
    </div>
</div>
