<!-- <div class="responsive" style="top: 100px;left: 100px;">
        <img src='../../assets/svg/welcome.svg' style="width: 100%; height: auto;">
    </div> -->
<!-- <figure class="img-box">
    <img src='../../assets/svg/welcome.svg' alt=""
        style="height: 400px;width:100%;background-repeat: no-repeat;background-size: contain;">
</figure> -->

<!-- <div class="card text-center" style="top: 100px;" @fade>
    <div class="card-body">
        <h5 class="card-title">congratulations, You have succesfully activated your account</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime possimus hic dolor
            molestiae repudiandae facilis repellendus maiores soluta. Quisquam sequi qui repellat aliquam atque
            architecto maxime asperiores perferendis quis voluptates?</p>
        <a [routerLink]="['/doctors/dashboard']" routerLinkActive="router-link-active"
            class="btn btn-primary">Dashboard</a>
    </div>
</div> -->

<div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <!-- Welcome <div> -->
                                <div class="text-center">
                                    <h3 class="login-heading mb-4" align=center>Congratulations, You have succesfully
                                        activated your
                                        account</h3>
                                </div>
                                <!-- content -->
                                <div style="top: 100px;" align=center @fade>
                                    <div class="card-body">
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Maxime possimus hic dolor
                                            molestiae repudiandae facilis repellendus maiores soluta. Quisquam sequi qui
                                            repellat aliquam atque
                                            architecto maxime asperiores perferendis quis voluptates?</p><br><br><br>
                                        <a [routerLink]="['/doctors/dashboard']" routerLinkActive="router-link-active"
                                            class="btn btn-primary">Dashboard</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>