<form [formGroup]="channelForm">
    <div class="row">
        <div class="col-3">
            <!-- <label for="coption"><b>Teacher Id</b></label> -->
            <input class="form-control" type="text" placeholder="Channel ID" formControlName="channelid">
        </div>
        <div class="col-1">
            <button class="btn btn-primary" type="submit" (click)="startCall()">Join</button>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" type="submit" [routerLink]="['/patients/waiting-room']"
                (click)="endCall()">Leave</button>
        </div>
    </div>
</form>

<div [id]="localCallId" class="local"></div>

<div *ngFor="let callId of remoteCalls" [id]="callId" class="remote" id="remote" #remote></div>



<!-- <div id="video"></div> -->

<div>
    <a class="btn btn-success" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</a>
    <a class="btn btn-warning" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</a>
    <a class="btn btn-danger" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</a>
    <!-- <button class="download-button" *ngIf="!isRecording && blobUrl" (click)="download()">Download</button> -->
    <a class="btn btn-success" *ngIf="!isRecording && blobUrl" [href]="blobUrl" download="{{fileName}}">DownloadFile</a>
    <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
    <div>
        <video *ngIf="!isRecording && blobUrl" controls style="width: 500px; height: 300px;">
            <source [src]="blobUrl" type="video/webm">
        </video>
    </div>
</div>