<form [formGroup]="channelForm">
    <div class="row">
        <div class="col-3">
            <!-- <label for="coption"><b>Teacher Id</b></label> -->
            <input class="form-control" type="text" placeholder="Channel ID" formControlName="channelid">
        </div>
        <div class="col-1">
            <button class="btn btn-primary" type="submit" (click)="startCall()">Join</button>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" type="submit" [routerLink]="['/patients/waiting-room']" (click)="endCall()">Leave</button>
        </div>
    </div>
</form>
<!-- </div> -->

<div [id]="localCallId" class="local"></div>

<div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>

<div>
    <a class="btn btn-primary" id="start" (click)="startRecording()">Record</a>
    <a class="btn btn-primary" id="stop">Stop</a>
</div>

<div id="video"></div>