.local {
    position: absolute;
    right: -13.7%;
    margin-top: 51%;
    /* bottom: 3rem; */
    width: 20vw;
    height: 20vh;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.remote {
    position: absolute;
    margin-top: 8%;
    /* top: 60%; */
    /* margin-left: -3%; */
    width: 70vw;
    height: 75vh;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.row {
    width: 100%;
}

.col-2 {
    /* background-color:burlywood; */
    align-self: center;
    left: 8%;
    flex-direction: column;
}

#newSidebar {
    padding-left: 1%;   
    text-align: center;
    position: absolute;
    border-radius: 40px 0px 0px 40px;
    padding-top: 3%;
    background-color: burlywood;
    width: 12vw;
    height: 81.5vh;
    top: 14%;
    right: 0%;
    /* overflow: hidden; */
    /* flex-direction: row; */
    /* margin-top: -10%; */
}

.newSidebarRow{
    margin-top: 20%;
}

#topBar {
    position: absolute;
    width: 70vw;
    height: 8vh;
    background-color: dodgerblue;
    border-radius: 50px 50px 0 0;
    top: 13%;
    padding: 1%;
    padding-left: 2%;
    text-align: center;
}

.sidebtn{
    margin-top: 10%;
}

.waitingScreen{
    /* display: ; */
    position: absolute;
    margin-top: 8%;
    /* top: 60%; */
    /* margin-left: -3%; */
    width: 70vw;
    height: 75vh;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: black;
    /* vertical-align: middle; */
}

.appoNumBox{
    background-color: white;
    width: 10%;
    text-align: center;
    margin-left: 50%;
    border-radius: 10px;
    /* padding: 0.3%; */
    padding-top: 1%;
    padding-bottom: 0.1%;
    margin-top: -1.5%;

}

.waitingText{
    /* font-size: 300%; */
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 75vh;
    animation: waitingText 2s;
    animation-iteration-count: infinite;
}

@keyframes waitingText{
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

.btn-danger {
    font-size: 13px;
    color: rgba(255, 255, 255, 2);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(217, 83, 78, 0.75);
    border-radius: 40px;
    /* background: transparent; */
    transition: all 0.3s ease 0s;
  }

  .btn-neutral {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    /* border: 2px solid rgba(0, 247, 12, 0.897); */
    border-radius: 40px;
    /* background: transparent; */
    transition: all 0.3s ease 0s;
  }

  .btn-success {
    font-size: 13px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    line-height: 15px;
    /* border: 2px solid rgba(0, 247, 12, 0.897); */
    border-radius: 40px;
    /* background: transparent; */
    transition: all 0.3s ease 0s;
  }
