.local {
    position: absolute;
    right: -13.7%;
    margin-top: 51%;
    width: 20vw;
    height: 20vh;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.remote {
    position: absolute;
    margin-top: 8%;    
    width: 70vw;
    height: 75vh;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.row {
    width: 100%;
}

.col-2 {
    align-self: center;
    left: 8%;
    flex-direction: column;
}

#newSidebar {
    padding-left: 1%;   
    text-align: center;
    position: absolute;
    border-radius: 40px 0px 0px 40px;
    padding-top: 3%;
    background-color: #64B5F6;
    width: 12vw;
    height: 81.5vh;
    top: 14%;
    right: 0%;    
}

.newSidebarRow{
    margin-top: 20%;
}

#topBar {
    position: absolute;
    width: 70vw;
    height: 8vh;
    background-color: #64B5F6;
    border-radius: 50px 50px 0 0;
    top: 13%;
    padding: 1%;
    padding-left: 2%;
    text-align: center;
}

.sidebtn{
    margin-top: 10%;
}

.waitingScreen{
    position: absolute;
    margin-top: 8%;    
    width: 70vw;
    height: 75vh;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: black;
}

.appoNumBox{
    background-color: white;
    width: 10%;
    text-align: center;
    margin-left: 50%;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 0.1%;
    margin-top: -1.5%;

}

.waitingText{
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 75vh;
    animation: waitingText 2s;
    animation-iteration-count: infinite;
}

@keyframes waitingText{
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}
