<app-navbar></app-navbar>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <h3 class="text-center">Payment Details</h3>
                    <img class="img-responsive cc-img" src="./assets/img/brand/creditcardicons.png">
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label>CARD NUMBER</label>
                                    <input type="tel" class="form-control" placeholder="Valid Card Number" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="tel" class="form-control" placeholder="Email Address" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>EXPIRATION Date</label>
                                    <input type="tel" class="form-control" placeholder="MM / YY" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>CV CODE</label>
                                    <input type="tel" class="form-control" placeholder="CVC" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Total Charge (Rs)</label>
                                    <input type="tel" class="form-control" placeholder="Rs" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label>CARD OWNER</label>
                                    <input type="text" class="form-control" placeholder="Card Owner Name" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Appoinment ID</label>
                                    <input type="text" class="form-control" placeholder="Appoinment ID" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-warning btn-lg btn-block">Process payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>