<div class="container-fluid">
  <div class="col-lg-12">

    <!-- 1st row -->
    <div class="row">
      <div class="col-lg-8">
        <div class="card" id="light">
          <div class="row">

            <!--First grid - Man image-->
            <div class="col-lg-3">
                <img class="image-man" src="./assets/img/brand/man.png">
              
            </div>
            <!--end of first grid-->

            <!--Second grid - last updates and limits-->
            <div class="col-lg-5">
              <div class="card shadow">
                <h6>Last Profile Update</h6>
                <h6 style="color:red;">{{userData?.lastlogin | date:"medium"}}</h6>
                <h6>Last Report Upolad</h6>
                <h6 style="color:red;">{{lastupload?.toDate() | date:"medium"}}</h6>
                <hr>
                <h6>Required Sugar level</h6>
                <h6 style="color:rgb(175, 136, 7);">70-110 mg/dl</h6>
                <h6>Normal Blood Pressure</h6>
                <h6 style="color:rgb(175, 136, 7);">80-120 mmHg</h6>
              </div>
            </div>
            <!--end of second grid-->

            <!--Third grid - BMI-->
            <div class="col-lg-4">
              <div class="card shadow">
                <h6>Weight</h6>
                <h6 style="color:blueviolet;"><b>{{userData?.weight}} kg</b></h6>
                <h6>Height</h6>
                <h6 style="color:blueviolet;"><b>{{userData?.height}} cm</b></h6>
                <h5>BMI</h5>
                <h4 style="color:blue;"><b>{{userData?.bmi}}</b></h4>
                <h4 style="color:green;font-family: sans-serif;"><b>NORMAL</b></h4>
                <!--<h6 style="color:red;">OVER WEIGHT</h6>
                    <h6 style="color:red;">UNDER WEIGHT</h6>-->
                <h6>Normal BMI Range</h6>
                <h6>18.5-24.9</h6>
              </div>
            </div>
            <!--end of third grid-->
          </div>
        </div>
      </div>
      <!--End of Health details-->

      <!--Calander-->
      <div class="col-lg-4">
        <div class="card shadow" id="dark">
          <div class="card shadow">
            <div class="card" id="light">
              <h6><b>Calender</b></h6>
            </div>
          </div>
          <div class="card" id="space">
            <ejs-calendar id=calendar [values]='value' [isMultiSelection]='multiselect'></ejs-calendar>
          </div>
        </div>
      </div>
      <!--End of Calander-->
    </div>
    <!-- end of 1st row -->

    <!-- 2nd row -->
    <div class="row" id="notfirst">
      <!--Upcomming Consultation-->
      <div class="col-lg-9">
        <div class="card shadow" id="dark">
          <div class="card">
            <div class="card" id="light">
              <h2 style="text-align:center;"><b>Upcomming Channelling(s)</b></h2>
            </div>
          </div>
          <div class="row" id="lessmargin">
            <!--First grid-->
            <div class="col-lg-4">
              <div class="card shadow">
                <div class="card" id="differ">
                  <img class="rounded-circle" src="./assets/img/theme/team-1-800x800.jpg">
                  <h5>{{result2[0]?.doctorName}}</h5>
                  <h6>{{result2[0]?.doctorSpeciality}}</h6>
                  <h6 class="text-primary"><b>in 15 Mins</b></h6>
                  <button class="btn" type="submit" (click)="joinlc(result2[0].appointmentID)">Join</button>
                </div>
              </div>
            </div>
            <!--Second grid-->
            <div class="col-lg-4">
              <div class="card shadow">
                <div class="card" id="differ">
                  <img class="rounded-circle" src="./assets/img/theme/team-4-800x800.jpg">
                  <h5>{{result2[1]?.doctorName}}</h5>
                  <h6>{{result2[1]?.doctorSpeciality}}</h6>
                  <h6 class="text-primary"><b>in 12 hrs</b></h6>
                  <a href="#MoreDialogBox" class="btn" type="button" data-toggle="modal">More</a>
                </div>
              </div>
            </div>
            <!--Third grid-->
            <div class="col-lg-4">
              <div class="card shadow">
                <div class="card" id="differ">
                  <img class="rounded-circle" src="./assets/img/theme/team-4-800x800.jpg">
                  <h5>{{result2[2]?.doctorName}}</h5>
                  <h6>{{result2[2]?.doctorSpeciality}}</h6>
                  <h6 class="text-primary"><b>in 2 days</b></h6>
                  <a href="#MoreDialogBox" class="btn" type="button" data-toggle="modal">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of upcomming Consultation-->

      <!--Chaneeling History-->
      <div class="col-lg-3">
        <div class="card shadow" id="dark">
          <div class="card shadow">
            <div class="card" id="light">
              <h6><b>Channelling History</b></h6>
            </div>
          </div>
          <div class="card shadow" id="space">
            <div class="card">
              <p>Date </p>
              <p><b>{{result3[0]?.appointmentDate}}</b></p>
              <p>Doctor </p>
              <p><b>{{result3[0]?.doctorName}}</b></p>
            </div>
          </div>
          <div class="card shadow" id="space">
            <div class="card">
              <p>Date </p>
              <p><b>{{result3[1]?.appointmentDate}}</b></p>
              <p>Doctor </p>
              <p><b>{{result3[1]?.doctorName}}</b></p>
            </div>
          </div>
        </div>
      </div>
      <!--End of Channeling history-->

    </div>
    <!-- end of 2nd row -->

  </div>
</div>

<div class="modal fade" id="MoreDialogBox" tabindex="-1" role="dialog" aria-labelledby="MoreDialogBox"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- --------------- -->
        <div class="card">
          <img class="rounded-circle" src="./assets/img/theme/team-4-800x800.jpg">
          <h5>{{result2[1]?.doctorName}}</h5>
          <h6>{{result2[1]?.doctorSpeciality}}</h6>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>Date</b></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>{{result2[1]?.appointmentDate}}</b></h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>Time</b></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>{{result2[1]?.appointmentTime}}</b></h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>Appoinment no.</b></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card" id="light">
                <h6><b>{{result2[1]?.appointmentNo}}</b></h6>
              </div>
            </div>
          </div>
        </div>
        <!-- -------------------------- -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>