/* :host {
  display: block;    
  background-color: #66e9e9;
  margin:-3%;
} */

.mainRow{
  margin-top: 10%;
}

.container-fluid{
  background-color: #66e9e9;
  width: 102%;
  margin-top: -0.9%;
  height: max-content;
  margin-left: -2%;
  padding-left: 9%;
  padding-bottom: 1.25%;
  padding-right: 8%;
  /* margin-right: 200px; */
}

/* .humanImage img{
  height: 50%;
  width: 50%;
} */

section{
  margin-left: 300px;
}

.row{
  padding: 1%;
  
}

.card{
  padding: 2%;
}

ejs-calendar{
  position: absolute;
  z-index: 3; 
  /* margin-top: 50%; */
  margin-left: 8%;
}



.cald{
  height: 140%;
}

.caldcard{
  height: 135%;
  padding-top: 5%;
}

.healthDetailsCard{
  /* padding-top:7%;
  padding-bottom: 7%; */
}

@media screen and (max-width: 1280px){
  
  .container-fluid{   
    width: 103%; 
    margin-left: -3%;
    padding-left: 9%;
    margin-top: -1.5%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;    
  }
  
  ejs-calendar{
    position: absolute;
    z-index: 3; 
    /* margin-top: 50%; */
    margin-left: -15%;
  }

  .mainRow{
    margin-top: 15%;
  }

}
  