<!--Upper block-->
<section class="section section-lg section-shaped pt-lg-3 pb-300" >
  <div class="container" >
      <div class="row justify-content-center" >
        <div class="col-lg-12">
            <div class="card shadow border-0" style="background-color:#a970b1; padding-top: 10px;">
              <div class="pt-0 text-center">
                <div class="card-body py-20"> 
                  <div class="row row-grid">
                    <!--First grid-->
                    <div class="col-lg-6">
                      <div class="card shadow border-0" style="background-color:#d98cd9;">
                        <div class="pt-0 text-center">
                          <div class="card shadow border-0" style="background-color:#e6e6e6">
                            <div class="pt-0 text-center">
                              <div class="card-body py-1">
                                <span class="d-block mb-1">Next Consultation In: 2:days 13:hours 7:minutes</span>
                              </div>
                            </div>
                          </div>
                          <div class="card shadow border-0" style="background-color:#dab3ff">
                            <div class="pt-0 text-center">
                              <div class="card-body py-20" style="height:280px">
                                
        
                                <div class="card shadow" id="space">
                                  <div class="card">
                        
                                      <div class="card card-stats mb-4 mb-lg-0">
                                        <div class="card-body">
                                              <p>Patient name: D.V.M.Pavithrani</p>
                                              <p>Date: 2020.07.14</p>
                                              <p>TIme: 17:15 </p>
                                              <button type="button" class="btn btn-success" style="margin-top: 10px;">Start</button>
                                        </div>
                                      </div>
                                  </div>
                                </div>
        
                               
        
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!--second grid-->
                    <div class="col-lg-6">
                      <div class="card shadow border-0" style="background-color:#d98cd9;">
                        <div class="pt-0 text-center">
                          <div class="card shadow border-0" style="background-color:#e6e6e6">
                            <div class="pt-0 text-center">
                              <div class="card-body py-1">
                                <span class="d-block mb-1">Instructions</span>
                              </div>
                            </div>
                          </div>
                          <div class="card shadow border-0" style="background-color:#dab3ff">
                            <div class="pt-0 text-center">
                              <div class="card-body py-20" style="height:280px">
                                
        
                                <div class="card shadow" id="space">
                                  <div class="card">
                        
                                      <div class="card card-stats mb-4 mb-lg-0">
                                        <div class="card-body">
                                              <p>Your patient will join the waiting room before 15minutes of the consultation.</p>
                                              
                                        </div>
                                      </div>
                                  </div>
                                </div>
        
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!--end of 2 grids-->
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!--end of Upper block-->


<!--second block-->
<section class="section section-lg pt-lg-3 mt--300">
  <div class="container">
    <div class="row justify-content-center">
        <div class="row row-grid">
          
          <div class="col-lg-12">
            <div class="card shadow border-0" style="background-color:#a970b1">
              <div class="pt-0 text-center">
                <div class="card-body py-20" style="">

                  <div class="card shadow border-0" style="background-color:#e6e6e6">
                    
                      <div class="card-body py-1">
                        <span class="d-block mb-1">Channeling Log</span>
                      </div>
                    
                  </div>

                  <div class="card shadow border-0" style="background-color:#dab3ff">
                    <div class="pt-0 text-center">
                      <div class="card-body py-20" style="">
                        
                        <div class="card shadow" id="space">
                          <div class="card">
                
                              <div class="card card-stats mb-4 mb-lg-0">
                                <div class="card-body">

                                  <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                      <a class="nav-item nav-link active" id="nav-upcoming-tab" data-toggle="tab" href="#nav-upcoming" role="tab" aria-controls="nav-home" aria-selected="true">Upcoming Channelings</a>
                                      <a class="nav-item nav-link" id="nav-previous-tab" data-toggle="tab" href="#nav-previous" role="tab" aria-controls="nav-profile" aria-selected="false">Previous Channelings</a>
                                      
                                    </div>
                                  </nav>
                                  <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-upcoming" role="tabpanel" aria-labelledby="nav-upcoming-tab"> 

                                      <div class="table-responsive">
                                        <table class="table align-items-center table-flush">
                                  
                                          <tbody>
                                            <tr>
                                              <td>
                                                  <span class="mb-0 text-sm">Appoinment with user : User name 1</span> 
                                              </td>
                                              <td>
                                                In 12hours 
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-success">Total Fee<br/>Rs 1500/=</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-primary">View Details</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-info">View Recipt</button>  
                                              </td>                
                                            </tr>
                                  
                                            <tr>
                                              <td>
                                                  <span class="mb-0 text-sm">Appoinment with user : User name 2</span> 
                                              </td>
                                              <td>
                                                In 12hours 
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-success">Total Fee<br/>Rs 1500/=</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-primary">View Details</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-info">View Recipt</button>  
                                              </td>                
                                            </tr>
                                            
                                            <tr>
                                              <td>
                                                  <span class="mb-0 text-sm">Appoinment with user : User name 2</span> 
                                              </td>
                                              <td>
                                                In 12hours 
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-success">Total Fee<br/>Rs 1500/=</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-primary">View Details</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-info">View Recipt</button>  
                                              </td>                
                                            </tr>
                                  
                                          </tbody>
                                        </table>
                                      </div>

                                    </div>
                                    
                                    <div class="tab-pane fade" id="nav-previous" role="tabpanel" aria-labelledby="nav-previous-tab">

                                      <div class="table-responsive">
                                        <table class="table align-items-center table-flush">
                                  
                                          <tbody>
                                            <tr>
                                              <td>
                                                  <span class="mb-0 text-sm">Appoinment with user : User name 1</span> 
                                              </td>
                                              <td>
                                                12hours ago
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-success">Total Fee<br/>Rs 1500/=</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-primary">View Details</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-info">View Recipt</button>  
                                              </td>                
                                            </tr>
                                  
                                            <tr>
                                              <td>
                                                  <span class="mb-0 text-sm">Appoinment with user : User name 2</span> 
                                              </td>
                                              <td>
                                                12hours ago
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-success">Total Fee<br/>Rs 1500/=</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-primary">View Details</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-info">View Recipt</button>  
                                              </td>                
                                            </tr>
                                            
                                            <tr>
                                              <td>
                                                  <span class="mb-0 text-sm">Appoinment with user : User name 2</span> 
                                              </td>
                                              <td>
                                                12hours ago 
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-success">Total Fee<br/>Rs 1500/=</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-primary">View Details</button>
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-info">View Recipt</button>  
                                              </td>                
                                            </tr>
                                  
                                          </tbody>
                                        </table>
                                      </div>


                                    </div>
                                  </div>

                                    
                                </div>
                              </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
      </div>
    </div>
  </div>
</section>
