.container-fluid{
  background-color: #E3F2FD;
  width: 102%;
  margin-top: -1.1%;
  height: max-content;
  margin-left: -3%;
}

.row{
  padding: 1.5%;
  align-content: center;
  min-height: max-content;
}
.mainRow{
  margin-top:30px;
}/*block 2*/

.card{
  text-align: center;
  align-content: center;
}
#dark.card{
  background-color: #2196F3;
}
#light.card{
  background-color: #90CAF9;
}
#topic.card{
  background-color:#e6e6e6;
}
#space.card{
  margin-top: 10px;
}
.rounded-circle{
  width: 120px;
  align-self: center;
}
td {
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 500px){
  .container-fluid{   
    width: 105%; 
    margin-left: -6%;
    margin-top: -4%; 
    padding-left: 0%;  
    padding-right: 0%;
  }
  .row{
    padding: 5%;
  }
  .card{
    margin-top: 10px;
  }
}