#myDiv{
    height: 600px;
}

#myDiv2{
    height: 600px;
}

.card{
    margin-top: 5%;
    height: 180px;
    align-items: center;
    padding-top: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10%;
}

.card h2{
    font-weight: bold;
}

