<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <h2>Total Patients</h2>
                <h3>{{patientsCount}}</h3>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h2>Total Doctors</h2>
                <h3>{{doctorCount}}</h3>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h2>Total Consultations</h2>
                <h3>{{moderatorCount}}</h3>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h2>Total Revenue</h2>
                <h3>Rs. {{totalRevenue}}</h3>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col">
            <div id="myDiv" #myDiv>

            </div>
        </div>
        <div class="col">
            <div id="myDiv2" #myDiv2>

            </div>
        </div>

    </div>
    <!-- <div class="row">

    </div> -->
</div>