<!--Upper block-->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card shadow" id="dark">
        <div class="pt-0 text-center">
          <div class="card-body py-20">
            <div class="row">
              <!--First grid-->
              <div class="col-lg-6">
                <div class="card shadow border-0" id="topic">
                  <div class="card-body py-1">
                    <span class="d-block mb-1">
                      Next Consultation in
                      {{ currentAppointment?.appointmentTime }}</span
                    >
                  </div>
                </div>
                <div class="card shadow border-0" id="light">
                  <div class="card-body py-20">
                    <div class="card shadow" id="space">
                      <div class="card-body">
                        <h2>Instructions</h2>
                        <h6 style="text-align: left">
                          Select a patient to start the consultation.
                        </h6>
                        <h6 style="text-align: left">
                          Refer patient's medical reports in need.
                        </h6>
                        <h6 style="text-align: left">
                          {{ currentAppointment?.appointmentID }}
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <button
                    disabled
                    (click)="
                      joinLiveConsultation(currentAppointment?.appointmentID)
                    "
                    id="joinBtn"
                    button
                    class="btn btn-success"
                    type="submit"
                    style="margin-top: 30px"
                  ><h3>Join</h3>
                    
                  </button>
                  <a
                    href="/doctors/dashboard"
                    button
                    class="btn btn-warning"
                    type="submit"
                    style="margin-top: 30px"
                    ><h4>Leave</h4></a
                  >
                </div>
              </div>

              <!--second grid-->
              <div class="col-lg-6">
                <div class="card shadow border-0" id="topic">
                  <div class="card-body py-1">
                    <span class="d-block mb-1">Patients</span>
                  </div>
                </div>

                <div class="card shadow" id="light">
                  <div class="col-lg-12">
                    <div class="list-group">
                      <div class="list-group-item">
                        <div
                          class="row"
                          id="fixsize"
                          *ngFor="let item of result1"
                        >
                          <div class="col-lg-6">
                            <h6><b>{{ item.patientName }}</b></h6>
                          </div>

                          <div class="col-lg-6">
                            <a
                              disabled
                              button
                              class="badge badge-success"
                              type="submit"
                              *ngIf="item.availabilityStatus == 'Ready'"
                              >Ready</a
                            >
                            <a
                              disabled
                              *ngIf="item.availabilityStatus == 'Absent'"
                              button
                              class="badge badge-warning"
                              type="submit"
                              >Absent</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="card shadow border-0" id="light">
                  <div class="card-body py-20">
                    <div class="card shadow" id="space">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table align-items-center table-flush">
                            <tbody>
                              
                              <div *ngFor="let item of result1">
                                
                                <tr>
                                  <td>
                                    <span class="mb-0 text-sm">{{
                                      item.patientName
                                    }}</span>
                                  </td>
                                  <td>
                                    <a disabled  button class="badge badge-success" type="submit" *ngIf="item.availabilityStatus=='Ready'">Ready</a>
                                    <a disabled *ngIf="item.availabilityStatus=='Absent'"  button class="badge badge-warning" type="submit">Absent</a>
                                  </td>
                                </tr>
                              </div>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>

              <!--end of 2 grids-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of Upper block-->
