:host {
  display: block;    
  background-color: #E3F2FD;
  margin-left:-2%;
  margin-top: -1%;
}
body{

  background-image: url("src/assets/img/theme/doctor4.jpg");
  background-size: cover;
  height: 800px; 

}