.container-fluid{
    background-color: #E3F2FD;
    width: 102%;
    margin-top: -0.9%;
    height: max-content;
    margin-left: -2%;
  }
  
  .row{
    padding: 1.5%;
    align-content: center;
    min-height: max-content;
  }
  #notfirst.row{
    margin-top:1px;
  }
  
  .card{
    padding: 2%;
    text-align: center;
    align-content: center;
    font-size: xx-large;
    border: none;
  }
  #fixsize.card{
    min-height: 260px;
  }
  #dark.card{
    background-color:#2196F3;
  }
  #light.card{
    background-color:#90CAF9;
  }
  #green.card{
    background-color:#80df6d;
  }
  #grey.card{
    background-color:#dbe9d8;
  }
  #red.card{
    background-color:#d4786b;
  }
  #space.card{
    margin-top: 10px;
  }
  .btn{
    height: 38px;
    background-color: #4364ce;
    color: aliceblue;
    width: fit-content;
    align-self: center;
    padding: 0%;
    padding-left: 10px;
    padding-right: 10px;
    /*padding-bottom: 30px;*/
  }
  #upload.btn{
    background-color: #f0f0f8;
    padding: 5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px; 
    color: #4364ce;
    margin-top: 15px;
  }
.small{
    font-size: 12px;
}
  @media screen and (max-width: 1366px){
    .container-fluid{   
      width: 105%; 
      margin-top: -1.5%;
      margin-left: -3%;
      padding-left: -2%;
    }
  
  }
  
  @media screen and (max-width: 500px){
    .container-fluid{   
      width: 105%; 
      margin-left: -6%;
      margin-top: -6%; 
      padding-left: 0%;  
      padding-right: 0%;
    }
    .row{
      padding: 5%;
    }
    #notfirst.row{
      margin-top: -5%;
    }
    #dark.card{
      margin-top: 10px;
    }
  }
  
  
    