<div class="container-fluid">
  <div class="col-lg-12">
    <!-- 1st row -->
    <div class="row" id="notfirst">
      <!--Standard health values-->
      <div class="col-lg-12">
        <div class="card shadow" id="dark">
          <div class="card">
            <div class="card" id="light">
              <h5 style="text-align:center;"><b>Manage your health in proper standards</b></h5>
            </div>
          </div>
          <div class="row" id="lessmargin">
            <!--health values-->
            <div class="col-lg-8">
              <div class="card shadow">
                <div class="card shadow">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">Blood pressure</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">90/60mmHg - 120/80mmHg</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">Blood Glucose</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">70 - 110 mg/dl</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">Pulse Rate</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small"> 60 – 100 beats per min</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">Respiratory Rate</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">12 to 16 breaths per min</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">Cholesterol Rate</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">125 to 200mg/dL</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--BMI levels-->
            <div class="col-lg-4">
              <div class="card shadow">
                <div class="card shadow">
                  <div class="card" id="light">
                    <h6><b>BMI Levels</b></h6>
                  </div>
                </div>
                <div class="card shadow">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">below 18.5</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="red">
                            <h6 class="small">Under weight</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">18.5-24.9</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">Healthy</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">25-29.9</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="red">
                            <h6 class="small">Over weight</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">30-39.9</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="red">
                            <h6 class="small">Obese</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of health standards-->
    </div>

    <!-- 2nd row -->
    <div class="row" id="notfirst">
      <!--Report section-->
      <div class="col-lg-12">
        <div class="card shadow" id="dark">
          <div class="card">
            <div class="card" id="light">
              <h2 style="text-align:center;"><b>Reports</b></h2>
            </div>
          </div>
          <div class="row" id="lessmargin">
            <div class="col-lg-12">
              <div class="card shadow">
                <div class="card shadow">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="list-group">
                        <div class="list-group-item" *ngFor="let report of reports">
                          <div class="row" id="hide">
                            <div class="col-lg-3">
                              <div class="card" id="light">
                                <h6>{{report?.reportDate}}</h6>
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="card" id="light">
                                <h6>{{report?.reportName}}</h6>
                              </div>
                            </div>
                            <div class="col-lg-2">
                              <div class="card">
                                <button class="btn" type="submit" (click)="view(report.reportURL)">view</button>
                              </div>
                            </div>
                            <div class="col-lg-2">
                              <div class="card">
                                <button class="btn" type="submit" (click)="download()"><span class="btn-inner--icon">
                                    <i class="fa fa-download mr-2"></i>
                                  </span>Download</button>
                              </div>
                            </div>
                            <div class="col-lg-2">
                              <div class="card">
                                <!-- <button class="btn" type="submit" (click)="Delete(report.reportDate,report.reportName)"><span class="btn-inner--icon">
                                    <i class="fa fa-remove mr-2"></i>
                                  </span>delete</button> -->
                                <a href="#DeleteDialogBox" class="btn" id="delete" data-toggle="modal" (click)="OpenDeleteBox(report.reportDate,report.reportName)">
                                  <span class="btn-inner-icon"><i class="fa fa-remove mr-2"></i></span>Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--3rd row -->
    <div class="row" id="notfirst">
      <div class="col-lg-12">
        <div class="card shadow" id="dark">
          <div class="row" id="notfirst">
            <div class="col-lg-8">
              <div class="card">
                <div class="card" id="light">
                  <h5 style="text-align:center;"><b>Upload Your Reports</b></h5>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <a href="#UploadDialogBox" class="btn" id="upload" data-toggle="modal">Upload</a>
            </div>
          </div>
        </div>
      </div>
      <!--End of health standards-->
    </div>
  </div>
</div>
<!--Dialog box-->
<div class="modal fade" id="UploadDialogBox" tabindex="-1" role="dialog" aria-labelledby="UploadDialogBox"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Title">Upload Your Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- --------------- -->
        <form [formGroup]="uploadReportForm" novalidate>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="reportDate">Date</label>
              <input type="date" class="form-control" formControlName="reportDate" placeholder="Date of report">
            </div>
            <div class="form-group col-md-6">
              <label for="reportName">Report name</label>
              <input type="text" class="form-control" formControlName="reportName" placeholder="Ex:-Blood Report">
            </div>
          </div>
          <progress max="100" [value]="(uploadProgress | async)"></progress>
          <form action="/action_page.php">
            <input type="file" id="myFile" name="filename" (change)="detectFiles($event)"
              accept=".png,.jpg,.pdf,.jpeg" />
          </form>
          <!-- -------------------------- -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <button type="submit" class="btn" data-dismiss="modal"
          (click)="upload(uploadReportForm.controls['reportDate'].value,uploadReportForm.controls['reportName'].value)">Submit</button>
      </div>
    </div>
  </div>
</div>
<!--Delete confirmation dialog box-->
<div class="modal fade" id="DeleteDialogBox" tabindex="-1" role="dialog"
aria-labelledby="DeleteDialogBox" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="Title">Delete Confirmation</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5><b><i>Are you sure You want to delete this report?</i></b></h5>
      <h6 style="color: blueviolet;"><b><i>{{deleteReportName}}</i></b></h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal">Close</button>
      <button type="submit" class="btn" data-dismiss="modal"
        (click)="Delete()">Yes,Delete</button>
    </div>
  </div>
</div>
</div>