<div class="container-fluid">
  <div class="col-lg-12">
    <!-- 1st row -->
    <div class="row" id="notfirst">
      <!--Upcomming Consultation-->
      <div class="col-lg-12">
        <div class="card shadow" id="dark">
          <div class="card">
            <div class="card" id="light">
              <h5 style="text-align:center;"><b>Manage your health in proper standards</b></h5>
            </div>
          </div>
          <div class="row" id="lessmargin">
            <!--First grid-->
            <div class="col-lg-8">
              <div class="card shadow">
                <div class="card shadow">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">Blood pressure</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">90/60mmHg - 120/80mmHg</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">Blood Glucose</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">70 - 110 mg/dl</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">Blood Glucose</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">70 - 110 mg/dl</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">Blood Glucose</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">70 - 110 mg/dl</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Second grid-->
            <div class="col-lg-4">
              <div class="card shadow">
                <div class="card shadow">
                  <div class="card" id="light">
                    <h6><b>BMI Levels</b></h6>
                  </div>
                </div>
                <div class="card shadow">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">below 18.5</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="red">
                            <h6 class="small">Under weight</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">18.5-24.9</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="green">
                            <h6 class="small">Healthy</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">25-29.9</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="red">
                            <h6 class="small">Over weight</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="grey">
                            <h6 class="small">30-39.9</h6>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card" id="red">
                            <h6 class="small">Obese</h6>
                          </div>
                        </div>
                      </div>
                      <!--<div class="row">
                                <div class="col-lg-12">
                                    <div class="card" id="light">
                                        <a herf="https://www.nhs.uk/live-well/healthy-weight/bmi-calculator/" class="btn">Calculate BMI</a>
                                    </div>
                                </div>
                              </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--End of upcomming Consultation-->



    </div>
    <!-- end of 2nd row -->
    <!-- end of 1st row -->

    <!-- 2nd row -->
    <div class="row" id="notfirst">
      <!--Upcomming Consultation-->
      <div class="col-lg-12">
        <div class="card shadow" id="dark">
          <div class="card">
            <div class="card" id="light">
              <h2 style="text-align:center;"><b>Reports</b></h2>
            </div>
          </div>
          <div class="row" id="lessmargin">
            <!--First grid-->
            <div class="col-lg-12">
              <div class="card shadow">
                <div class="card shadow">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="light">
                            <h6>January 24, 2020</h6>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="card">
                            <button class="btn" type="submit" (click)="view()">view</button>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="card">
                            <button class="btn" type="submit" (click)="view()"><span class="btn-inner--icon">
                              <i class="fa fa-download mr-2"></i>
                          </span>Download</button>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="card">
                            <button class="btn" type="submit" (click)="view()"><span class="btn-inner--icon">
                              <i class="fa fa-remove mr-2"></i>
                          </span>delete</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="light">
                            <h6>January 24, 2020</h6>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="card">
                            <button class="btn" type="submit" (click)="view()">view</button>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="card">
                            <button class="btn" type="submit" (click)="view()"><span class="btn-inner--icon">
                              <i class="fa fa-download mr-2"></i>
                          </span>Download</button>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="card">
                            <button class="btn" type="submit" (click)="view()"><span class="btn-inner--icon">
                              <i class="fa fa-remove mr-2"></i>
                          </span>delete</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card" id="light">
                            <h6>January 24, 2020</h6>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="card">
                            <button class="btn" type="submit" (click)="view()">view</button>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="card">
                            <button class="btn" type="submit" (click)="view()"><span class="btn-inner--icon">
                              <i class="fa fa-download mr-2"></i>
                          </span>Download</button>
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="card">
                            <button class="btn" type="submit" (click)="view()"><span class="btn-inner--icon">
                              <i class="fa fa-remove mr-2"></i>
                          </span>delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- end of 2nd row -->

  </div>
</div>