<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-6">
                <h1>Patients List</h1>
            </div>
            <!-- <div class="col-2" style="position:sticky;padding-left: 200px;">
                <input [(ngModel)]="searchText" placeholder="search text goes here" class="textbox">
            </div> -->
            <div class="input-group">
                <input placeholder="Type username or email" type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="searchText" >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Verification</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Verified</a>
                        <a class="dropdown-item" href="#">Unerified</a>
                        <!-- <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-4">
                <div class="form-group">
                    <strong>Verification</strong>
                    <select class="form-control" [(ngModel)]="slmcVerified">
                        <option value="all">All</option>
                        <option [ngValue]="true">SLMC Verified</option>
                        <option [ngValue]="false">SLMC Verification Failed</option>
                    </select>
                </div>
            </div> -->
        </div>
        <div class="list-group" style="margin-top: 20px;">
            <div class="list-group-item" *ngFor="let item of usersData | moderatorPatient:searchText">
                <div *ngIf="item.role=='patient'">
                    <div class="row">
                        <div class="col-6">
                            {{item.name}} <br>
                            <label *ngIf="!item.slmcVerified" class="badge badge-warning">SLMC Failed |</label>
                            <label *ngIf="!item.emailVerified" class="badge badge-warning">Email Failed |</label>
                            <label *ngIf="!item.PhoneNumberVerified" class="badge badge-warning">Phone Failed</label>
                            <label *ngIf="item.addressTokenVerified" class="badge badge-success">Full Verified
                                Profile</label>
                        </div>
                        <div class="col-2">
                            {{item.role}} <br>
                        </div>
                        <div class="col-2">
                            Ratings <br>
                        </div>
                        <div class="col-2">
                            <a *ngIf="item.slmcVerified" button class="btn btn-success" type="submit"
                                style="text-decoration: aliceblue;">View</a>
                            <a *ngIf="!item.slmcVerified" button class="btn btn-danger" type="submit">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>