
.container-fluid{
  background-color: #E3F2FD;
  width: 102%;
  margin-top: -0.8%;
  height: max-content;
  margin-left: -2%;
}

.row{
  padding: 1.5%;
  align-content: center;
  min-height: max-content;
}
.mainRow{
  margin-top:30px;
}/*block 2*/

.card{
  padding: 2%;
  text-align: center;
  font-size: xx-large;
}
#dark.card{
  background-color:#2196F3;
}
#light.card{
  background-color:#90CAF9;
}

.rounded-circle{
  width: 120px;
  align-self: center;
}


@media screen and (max-width: 500px){
  .container-fluid{   
    width: 105%; 
    margin-left: -6%;
    margin-top: -6%; 
    padding-left: 0%;  
    padding-right: 0%;
  }
  .row{
    padding: 5%;
  }
  .card{
    margin-top: 10px;
  }
}

