<div class="container-fluid">
  <div class="col-md-12">
    <div class="card shadow"  id="dark">

    <h2 style="text-align: center; padding-top: 15px;">General Details</h2>

    <div class="row">
      <div class="col-md-1"> </div>
  
      <div class="col-md-10">


          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-lg-4">
                  <div class="card" id="light">
                      <p><b> Name </b></p>
                  </div>
              </div>
            <div class="col-lg-8">
              <div class="card" id="input">
                  <p><b> {{result.name}} </b></p>
              </div>
          </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-lg-4">
                  <div class="card" id="light">
                      <p><b> Address </b></p>
                  </div>
              </div>
            <div class="col-lg-8">
              <div class="card" id="input">
                  <p><b> {{result.address}} </b></p>
              </div>
          </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-lg-4">
                  <div class="card" id="light">
                      <p><b> Email </b></p>
                  </div>
              </div>
            <div class="col-lg-8">
              <div class="card" id="input">
                  <p><b> {{result.email}} </b></p>
              </div>
          </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group row">
                <div class="col-lg-4">
                  <div class="card" id="light">
                      <p><b> Phone </b></p>
                  </div>
              </div>
            <div class="col-lg-8">
              <div class="card" id="input">
                  <p><b> {{result.telno}} </b></p>
              </div>
          </div>
            </div>  
          </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-lg-4">
                  <div class="card" id="light">
                      <p><b> Age </b></p>
                  </div>
              </div>
            <div class="col-lg-8">
              <div class="card" id="input">
                  <p><b> {{result.age}} </b></p>
              </div>
          </div>
              </div>
            </div>
            </div>
             

          <a href="/doctors/editdoctorprofile" button class="btn btn-success" style="background-color: #2364ce;" type="submit" >Ediit Details</a>
      
      

      </div>
  
      <div class="col-md-1">  </div>
    </div>

    </div>

  <hr>

  <h2 style="text-align: center;">Registration Details</h2>

  <div class="col-md-12">
    
          <div class="card shadow border-0" style="background-color:#90CAF9">
            <div class="pt-0">
              <div class="card-body py-20" style="height:80px">
                <p style="text-align: left;">Note: Registration details are protected and can't edit once your account is created. If you want to make some changes on registration details please contact us!</p> 
              </div>
            </div>
          </div>
  </div>

  <div class="row">
    <div class="col-md-1"> </div>

    <div class="col-md-10">

      <form>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-lg-4">
                <div class="card" id="light">
                    <p><b> Act Num </b></p>
                </div>
            </div>
          <div class="col-lg-8">
            <div class="card" id="input">
                <p><b> {{result.actNum}} </b></p>
            </div>
        </div>
            </div>
          </div>
           <div class="col-md-6">
            <div class="form-group row">
              <div class="col-lg-4">
                <div class="card" id="light">
                    <p><b> Reg.Number SLMC </b></p>
                </div>
            </div>
          <div class="col-lg-8">
            <div class="card" id="input">
                <p><b> {{result.SLMC_ID}} </b></p>
            </div>
        </div>
          </div>  
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <div class="col-lg-4">
                <div class="card" id="light">
                    <p><b> Hospital Core Reg. Number </b></p>
                </div>
            </div>
          <div class="col-lg-8">
            <div class="card" id="input">
                <p><b> {{result.doctorId}} </b></p>
            </div>
        </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <div class="col-lg-4">
                <div class="card" id="light">
                    <p><b> Specialization </b></p>
                </div>
            </div>
          <div class="col-lg-8">
            <div class="card" id="input">
                <p><b> {{result.speciality}} </b></p>
            </div>
        </div>
            </div>
          </div>
        </div>

      </form>

     
    </div>

    <div class="col-md-1">  </div>

  </div>

  


  </div>
</div>
