<div class="container-fluid">
  <div class="col-md-12">
    <div class="card shadow"  id="dark">

    <h2 style="text-align: center; padding-top: 15px;">General Details</h2>

    <div class="row">
      <div class="col-md-1"> </div>
  
      <div class="col-md-10">

        <form>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3" for="name" style="text-align: left;"
              >Name
            </label>
                <input type="name" class="col-md-9 form-control" id="name" placeholder="Maheema Pavithrani" style="border-radius: 15px;">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3" for="address" style="text-align: left;"
              >Address
            </label>
                <input type="address" class="col-md-9 form-control" id="address" placeholder="Thellambura, Galle" style="border-radius: 15px;">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-3" for="email" style="text-align: left;"
              >Email
            </label>
                <input type="email" class="col-md-9 form-control" id="email" placeholder="maheemapavithrani@gmail.com" style="border-radius: 15px;">
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-3" for="phone" style="text-align: left;"
              >Phone
            </label>
                <input type="phone" class="form-control col-md-9" id="phone" placeholder="0715150216" style="border-radius: 15px;">
              </div>
            </div>  
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-3" for="age" style="text-align: left;"
              >Age
            </label>
                <input type="age" class="col-md-9 form-control" id="age" placeholder="23" style="border-radius: 15px;">
              </div>
            </div>
              
          </div>
      
        </form> 
       
      </div>
  
      <div class="col-md-1">  </div>
    </div>
    </div>

  <hr>

  <h2 style="text-align: center;">Registration Details</h2>

  <div class="col-md-12">
    
          <div class="card shadow border-0" style="background-color:#90CAF9">
            <div class="pt-0">
              <div class="card-body py-20" style="height:80px">
                <p style="text-align: left;">Note: Registration details are protected and can't edit once your account is created. If you want to make some changes on registration details please contact us!</p> 
              </div>
            </div>
          </div>
  </div>

  <div class="row">
    <div class="col-md-1"> </div>

    <div class="col-md-10">

      <form>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-3" for="actName" style="text-align: left;"
            >Act Name
          </label>
              <input type="actName" class="col-md-9 form-control" id="actname" placeholder="Act number 1" disabled="" style="border-radius: 15px;">
            </div>
          </div>
           <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-3" for="slmcRegNumber" style="text-align: left;"
            >SLMC Reg. Number
          </label>
              <input type="slmcRegNumber" class="form-control col-md-9" id="slmcRegNumber" placeholder="MKH34522" disabled="" style="border-radius: 15px;">
            </div>
          </div>  
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-md-3" for="hospitalCoreRegNum" style="text-align: left;"
            >Hosital Core Reg. Number
          </label>
              <input type="hospitalCoreRegNum" class="col-md-9 form-control" id="hospitalCoreRegNum" placeholder="AA17" disabled="" style="border-radius: 15px;">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-md-3" for="specialization" style="text-align: left;"
            >Specialization
          </label>
              <input type="specialization" class="col-md-9 form-control" id="specialization" placeholder="Cardiologists" disabled="" style="border-radius: 15px;">
            </div>
          </div>
        </div>

        
      </form>
      
      <button type="button" class="btn btn-primary" style="background-color: #2364ce;">Save Changes </button>
      <button type="button" class="btn btn-warning">Cancel</button>

     
    </div>

    <div class="col-md-1">  </div>

  </div>

  


  </div>
</div>
