<app-navbar-moderator></app-navbar-moderator>

<div id="chart">

</div>
<div id='map'></div>

<div class="container">
    <!-- <div > -->
    <h2 style="color: black;text-align: center;">Epidemic Detection Based on User location</h2>
    <div class="row" style="margin-bottom: 40px; width:1200px;height: 700px;margin-top: 80px;" id="usa">

    </div>

    <!-- <form [formGroup]="myform" role="form" #frm="ngForm" (ngSubmit)="addDisease(frm)">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="frm.displayName" name="displayName" class="form-control"
                            formControlName="displayName" placeholder="Name">
                        <input type="text" [(ngModel)]="frm.disease" name="disease" class="form-control"
                            formControlName="disease" placeholder="disease">
                        <input type="text" [(ngModel)]="frm.latitude" name="latitude" class="form-control"
                            formControlName="latitude" placeholder="latitude">
                        <input type="text" [(ngModel)]="frm.longitude" name="longitude" class="form-control"
                            formControlName="longitude" placeholder="longitude">
                        <input type="text" [(ngModel)]="frm.city" name="city" class="form-control"
                            formControlName="city" placeholder="city">
                        <div id='map'></div>
                    </div>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </form> -->
    <!-- </div> -->
    <!-- <div *ngFor="let value of grouped; index as key">users_count
        {{key}} -> {{value.class}}
    </div> -->

    <div class="container" style="margin-bottom: 40px; width:1200px;height: 700px;margin-top: 60px;">
        <!-- {{city_count}}
    {{disease_count}} -->
        <div class="row">
            <div class="col col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5> -->
                        <h3 class="card-text">Recorded diseases</h3><br>
                        <h3 class="card-text"><strong>{{disease_count}}</strong></h3>
                    </div>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5> -->
                        <h3 class="card-text">Covered cities</h3><br>
                        <h3 class="card-text" style="color: rgb(0, 0, 0);"><strong>{{city_count}}</strong></h3>
                    </div>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5> -->
                        <h3 class="card-text">Recorded users</h3><br>
                        <h3 class="card-text"><strong>{{users_count}}</strong></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4" id="pieChart"
                style="margin-left: 180px;margin-bottom: 40px; width: 800px;height: 400px;margin-top: 20px;">
            </div>
        </div>
    </div>
</div>


<!-- <div class="container" style="margin-top: 200px;">
    <h2 align=center>Select city to view distribution</h2>
    <div class="row" class="col col-md-8" align=center style="margin-left: 180px;">
        <select (change)="onChange($event)">
            <option *ngFor="let v of diseases_list" [value]="v.city">{{v.city}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col col-md-8" align=center style="margin-left: 150px; width: 800px;height: 400px" id="map_city">
        </div>
    </div>
</div> -->